<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gif Guff</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">
</head>
<body onload="trending(); recent();">	
	
	<div class="row">
	   <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="userInput" val="" placeholder="What's on your mind?">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"></button>
                    </span>
            </div>
  		</div>
	</div>

	<br><br>

    <div id="userViewer" style="display:none">
        <div id="post" class="row">
            <div class="col-lg-3"></div>
            <div id="userImage" class="col-lg-6">
                <img id="imagebox0" src="http://placehold.it/600x400" class="img-responsive center-block"><br>
            </div>
            <div id="userImage1" class="col-lg-1">
                <div id="userControl" class="btn-group-vertical">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="add();"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="remove();"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" onclick="refresh();"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
     
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#"onclick="toggle('grid'); toggle('recent');">Trending</a></li>
      <li role="presentation"><a href="#recent" onclick="toggle('grid'); toggle('recent');" >Recent</a></li>
    </ul>
	<div id=grid" style="display:inline">
		<div id="posts">
			<div class="post">
				<img id="imagebox1" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox2" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post">
				<img id="imagebox3" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox4" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post">
				<img id="imagebox5" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox6" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post">
				<img id="imagebox7" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox8" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post">
				<img id="imagebox9" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox10" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post">
				<img id="imagebox11" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post">
				<img id="imagebox12" src="http://placehold.it/400x600"><br>
			</div>
		</div>
	</div>

    <section id="recent" style="display:none">
		<div id="posts_recent">
			<div class="post_recent">
				<img id="imgbox1" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox2" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox3" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox4" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox5" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox6" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox7" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox8" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox9" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox10" src="http://placehold.it/400x600"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox11" src="http://placehold.it/600x400"><br>
			</div>
			<div class="post_recent">
				<img id="imgbox12" src="http://placehold.it/400x600"><br>
			</div>
		</div>
    </section>

    <script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="script.js"></script>
    <script>
		function toggle(div_id){
			$('#'+div_id).toggle();
		}
        function toggler() {
			$('#userViewer').toggle();
		}
		function remove() {
            toggler();
			$('#userInput').attr('val', '');
		}
		function refresh() {
			$.get( "/random", {key: $("#userInput").val()})
				.done( function( data ) {
					$('#imagebox0').attr('src', data);
			});
		}
		function add() {
			toggler();
            $.get( "/addPost", {folder: $('#imagebox0').attr('src')})
				.done( function( ) {
					$('#imagebox1').attr('src', $('#imagebox0').attr('src'));
			});
		}
		function trending() {
            $.get( "/trend", function( data ) {
				var cnt = 0;
				data = data.split(',');
				for (d in data) {
					cnt++;
                	$('#imagebox' + cnt).attr('src', data[d].substring(data[d].indexOf("'")+1, data[d].lastIndexOf("'")));
				}
			});
        }
 		function recent() {
            $.get( "/getPost", function( data ) {
				var cnt = 0;
				data = data.split(',');
				for (d in data) {
					cnt++;
                	$('#imgbox' + cnt).attr('src', data[d].substring(data[d].indexOf("'")+1, data[d].lastIndexOf("'")));
				}
			});
        }
        $('#userInput').keyup(function(event){
            if(event.keyCode == 13){
				toggler();
				$.get( "/random", {key: $(this).val()})
					.done( function( data ) {
						$('#imagebox0').attr('src', data);
					});
			}});
        
    </script>

	<!-- Footer -->
	
	<footer id="footer" class="container">
		<hr>
		<p>Thanks for watching!</p>
	</footer>	
	
</body>
</html>
