<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gif Guff</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700">
</head>
<body onload="recent()">	
	
	<div class="row">
	   <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="userInput" val="" placeholder="What's on your mind?">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"></button>
                    </span>
            </div>
  		</div>
	</div>

	<br><br>

    <div id="userViewer" style="display:none">
        <div id="post" class="row">
            <div class="col-lg-3"></div>
            <div id="userImage" class="col-lg-6">
                <img id="imagebox0" src="http://placehold.it/600x400" class="img-responsive center-block"><br>
            </div>
            <div id="userImage1" class="col-lg-1">
                <div id="userControl" class="btn-group-vertical">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" onclick="add();"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="remove();"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" onclick="refresh();"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
   
	 <div class="btn-group" role="group">
     	<button type="button" class="btn btn-default" onclick="location.href='index.html';">
		Trending
        </button>
     	<button type="button" class="btn btn-default" onclick="location.href='recent.html';">
		Recent
        </button>
	</div>


	<div id="grid" style="display:inline">
		<div id="posts">
		</div>
	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>	
    <script>
        function toggler() {
			$('#userViewer').toggle();
		}
		function remove() {
            toggler();
			$('#userInput').attr('val', '');
		}
		function refresh() {
			$.get( "/random", {key: $("#userInput").val()})
				.done( function( data ) {
					$('#imagebox0').attr('src', data);
			});
		}
		function add() {
			toggler();
            $.get( "/addPost", {folder: $('#imagebox0').attr('src')})
				.done( function( ) {
					$('#imagebox1').attr('src', $('#imagebox0').attr('src'));
			});
		}

		function recent() {
            $.get( "/getPost", function( data ) {
				var cnt = 0;
				data = data.split(',');

				for (d in data) {
					cnt++;
					var url =  data[d].substring(data[d].indexOf("'")+1, data[d].lastIndexOf("'"));
					$('<div class="post"><img id="imagebox'+cnt+'" src="'+url+'"></div>')
							.click(function(){
								window.location.href = "comment.html?folderName="+url;
							})
							.appendTo('#posts');
				}

			});
        }
        
        $('#userInput').keyup(function(event){
            if(event.keyCode == 13){
				toggler();
				$.get( "/random", {key: $(this).val()})
					.done( function( data ) {
						$('#imagebox0').attr('src', data);
					});
			}});


    </script>
	<script src="script.js"></script>
	<!-- Footer -->
	
	<footer id="footer" class="container">
		<hr>
		<p>Thanks for watching!</p>
	</footer>	
	
</body>
</html>
